<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>

<body>
    <div>
        <label for="uname">姓名：</label>
        <input id="uname" type="text">
        <span id="msg" style="font-size: 12px"></span>
    </div>
    <div>
        <label for="pwd">密码：</label>
        <input id="pwd" type="password">
    </div>
    <button id="btn">提交</button>
    <script src="../static/jquery-3.4.1.js"></script>
    <script src="../static/exercise02.js"></script>
</body>

</html>