<!--
author:lvlu,yusheng chai
date:2018-07
desc:this demo is about blog. PLEASE NOTE:If you have trouble running it ,try any of the other demos or connect with auther.
A ny individuals and organizations and not for commercial use, professiona website for customized web site.
-->
<div data-v-2c11fd1e="" class="navbar">
    <div data-v-2c11fd1e="" class="pc">
        <div data-v-2c11fd1e="" class="content ">
            <div data-v-2c11fd1e="" class="left">
                <div data-v-2c11fd1e="" class="logo">
                    <a data-v-2c11fd1e="" href="index-1.html">
                        <!-- 左上logo图标 -->
                        <img src="" alt="">
                    </a>
                </div>
                <div data-v-2c11fd1e="" class="menus">
                    <div data-v-2c11fd1e="" class="menu">
                        <div data-v-2c11fd1e="" class="link">
                            <!-- 激活样式类 router-link-active -->
                            <a data-v-2c11fd1e="" href="index-1.html" class="">股票交易所</a>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-2c11fd1e="" class="middle"></div>
            <div data-v-2c11fd1e="" class="right">
                <div data-v-2c11fd1e="" class="user">
                    <div data-v-2c11fd1e="" class="notOnline">
                        <div data-v-2c11fd1e="">
                            <div data-v-2c11fd1e="" class="username">用户名</div>
                        </div>
                        <div data-v-2c11fd1e="">
                            <div data-v-2c11fd1e="" class="click_login">登录</div>
                        </div>
                        <div data-v-2c11fd1e="">
                            <div data-v-2c11fd1e="" class="click_register">注册</div>
                        </div>
                        <div data-v-2c11fd1e="">
                            <div data-v-2c11fd1e="" style="display:none;" class="click_logout">注销</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
