absl-py==0.9.0
AccessControl==4.2
Acquisition==4.6
amqp==2.6.0
appdirs==1.4.4
asn1crypto==1.3.0
astor==0.8.1
astroid==2.4.1
atomicwrites==1.4.0
attrs==19.3.0
AuthEncoding==4.1
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
billiard==3.6.3.0
bleach==3.1.5
bs4==0.0.1
BTrees==4.7.2
cachetools==4.1.1
celery==4.4.4
certifi==2020.4.5.2
cffi==1.14.0
cfgv==3.1.0
Chameleon==3.7.2
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
cma==2.7.0
colorama==0.4.3
colorlog==4.1.0
colorlover==0.3.0
constantly==15.1.0
construct==2.5.3
cryptography==2.9.2
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
Django==1.11.28
django-cors-headers==3.2.1
django-redis==4.11.0
DocumentTemplate==3.2.3
elasticsearch==7.7.1
entrypoints==0.3
et-xmlfile==1.0.1
ExtensionClass==4.4
fake-useragent==0.1.11
feedfinder2==0.0.4
feedparser==5.2.1
ffmpeg==1.4
filelock==3.0.12
fire==0.3.1
flake8==3.8.2
Flask==1.1.2
Flask-Babel==1.0.0
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
gevent==20.6.0
google-auth==1.16.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.14
greenlet==0.4.16
grpcio==1.29.0
gspread==3.6.0
gspread-pandas==2.2.3
h5py==2.10.0
haystack==0.42
hyperlink==19.0.0
icon-font-to-png==0.4.1
identify==1.4.19
idna==2.9
imageio==2.8.0
importlib-metadata==1.6.1
imutils==0.5.3
incremental==17.5.0
intel-openmp==2019.0
ipykernel==5.3.0
ipyparallel==6.3.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itemadapter==0.1.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.1
jieba==0.42.1
jieba3k==0.35.1
Jinja2==2.11.2
joblib==0.15.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
kombu==4.6.11
lazy-object-proxy==1.4.3
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==2.2.4
mccabe==0.6.1
mistune==0.8.4
mock==4.0.2
more-itertools==8.3.0
MultiMapping==4.1
MyQR==2.3.1
nbconvert==5.6.1
nbformat==5.0.7
newspaper3k==0.2.8
nltk==3.4
nodeenv==1.4.0
notebook==6.0.3
numpy==1.16.0
oauthlib==3.1.0
objgraph==3.4.1
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
openpyxl==3.0.4
opt-einsum==3.2.1
packaging==20.4
paddlehub==1.6.2
paddlepaddle==1.5.2
palettable==3.3.0
pandas==0.25.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.0
PasteDeploy==2.1.0
pathlib==1.0.1
patsy==0.5.1
pdfminer3k==1.3.4
pefile==2019.4.18
Persistence==3.0
persistent==4.6.4
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.8.2
pluggy==0.13.1
ply==3.11
pre-commit==2.4.0
pretty-errors==1.2.17
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.12.2
py==1.8.1
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.7
pycryptodomex==3.9.4
PyDispatcher==2.0.5
pydot==1.4.1
pyecharts==1.6.0
PyExecJS==1.5.1
pyflakes==2.2.0
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint==2.5.2
pymongo==3.10.1
PyMySQL==0.9.3
pynput==1.6.8
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyrsistent==0.16.0
PySocks==1.7.1
pytesseract==0.3.4
pytest==5.4.3
pytest-base-url==1.4.1
pytest-html==2.1.1
pytest-metadata==1.9.0
pytest-runner==5.2
pytest-selenium==1.17.0
pytest-variables==1.9.0
python-alipay-sdk==2.0.1
python-dateutil==2.8.1
python-docx==0.8.10
python-gettext==4.0
python-pptx==0.6.18
python-ptrace==0.9.5
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
queuelib==1.5.0
rarfile==3.1
recordio==0.1.7
redis==3.5.3
requests==2.23.0
requests-file==1.5.1
requests-oauthlib==1.3.0
RestrictedPython==5.0
retrying==1.3.3
roman==3.2
rsa==4.0
scikit-learn==0.21.3
scipy==1.2.1
Scrapy==2.2.0
scrapy-redis==0.6.8
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.91
service-identity==18.1.0
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
statsmodels==0.11.1
stylecloud==0.5.1
tb-paddle==0.4.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
tinycss==0.4
tinysegmenter==0.3
tldextract==2.2.2
toml==0.10.1
tornado==6.0.4
traitlets==4.3.3
transaction==3.0.0
tushare==1.2.60
Twisted==20.3.0
typed-ast==1.4.1
urllib3==1.25.9
vega-datasets==0.8.0
vine==1.3.0
virtualenv==20.0.21
visualdl==2.0.0b4
w3lib==1.22.0
waitress==1.4.4
wcwidth==0.2.3
webencodings==0.5.1
WebOb==1.8.6
websocket-client==0.57.0
WebTest==2.0.35
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wordcloud==1.7.0
wrapt==1.12.1
WSGIProxy2==0.4.6
xgboost==1.1.1
xlrd==1.2.0
XlsxWriter==1.2.9
yapf==0.26.0
z3c.pt==3.3.0
zc.lockfile==2.0
ZConfig==3.5.0
zExceptions==4.1
zipp==3.1.0
ZODB==5.5.1
zodbpickle==2.0.0
Zope==4.4.2
zope.annotation==4.7.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.6.1
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.4
zope.exceptions==4.3
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==5.1.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.5.0
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==5.2.0
zope.schema==6.0.0
zope.security==5.1.1
zope.sequencesort==4.1.2
zope.site==4.3.0
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.0.2
zope.testbrowser==5.5.1
zope.testing==4.7
zope.traversing==4.4.1
zope.viewlet==4.2.1
