<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>

<body>
    <button id="btn">发送跨域GET请求</button>
    <script src="../static/jquery-3.4.1.js"></script>
    <script>
        function print(res) {
            console.log(res)
        }

        $('#btn').on('click', function () {
            var script = document.createElement('script')
            script.src = 'http://127.0.0.1:5001/cross_server?callback=print'
            document.body.append(script)
        })
    </script>
</body>

</html>