<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <style>
        table {
            border: 0.5px solid darkgrey;
            margin-top: 5px;
        }

        td {
            padding: 5px;
            text-align: center;
            border: 0.5px solid darkgrey;
        }

        thead>tr>td {
            font-weight: bold;
            font-size: 20px;
            font-family: Roboto;
        }
    </style>
</head>

<body>
    <button id="btn">获取数据</button>
    <table cellspacing="0">
        <thead>
            <tr>
                <td>ID</td>
                <td>Count</td>
                <td>Name</td>
                <td>Image</td>
                <td>Price</td>
                <td>Selected</td>
                <td>Size</td>
                <td>Color</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <script src="../static/jquery-3.4.1.js"></script>
    <script>
        function handle(res) {
            console.log(res)
            $.each(res.data.cart, function (index, element) {
                $('tbody').append("<tr id='num" + index + "'></tr>")
                var $data = $('#num' + index)
                $data.append("<td>" + element.id + "</td>")
                $data.append("<td>" + element.count + "</td>")
                $data.append("<td>" + element.name + "</td>")
                $data.append("<td>" + element.default_image_url + "</td>")
                $data.append("<td>&yen;" + element.price + "</td>")
                if (element.selected == true) {
                    $data.append("<td><input type='checkbox' checked></td>")
                } else {
                    $data.append("<td><input type='checkbox'></td>")
                }
                $.each(element.sku_sale_attr_name, function (i, e) {
                    $data.append("<td>" + e + element.sku_sale_attr_val[i] + "</td>")
                })
            })
        }

        $('#btn').on('click', function () {
            var script = document.createElement('script')
            script.src = 'http://127.0.0.1:5001/data_server?callback=handle'
            document.body.append(script)
        })
    </script>
</body>

</html>