<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>跨域</title>
</head>

<body>
    <button id="btn">发送跨域GET请求</button>
    <script src="../static/jquery-3.4.1.js"></script>
    <script>
        function print(response) {
            console.log(response)
        }
    </script>
    <script src="http://127.0.0.1:5001/cross_server"></script>
    <script>
        $('#btn').on('click', function () {
            $.ajax({
                url: 'http://127.0.0.1:5001/cross_server',
                type: 'GET',
                success: function (response) {
                    console.log(response)
                }
            })
        })
    </script>
</body>

</html>