<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button id="btn">获取5001端口数据</button>
    <script src="../static/jquery-3.4.1.js"></script>
    <script>
        // function print(res) {
        //     console.log(res)
        // }

        $('#btn').on('click', function () {
            $.ajax({
                url: 'http://127.0.0.1:5001/cross_server',
                type: 'GET',
                dataType:'jsonp',
                // jsonp: 'callback',
                // jsonpCallback: print
                success: function (res) {
                    console.log(res)
                }
            })
        })
    </script>
</body>

</html>