<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jquery_ajax_post</title>
</head>

<body>
    <div>
        姓名：<input type="text" id="uname">
    </div>
    <div>
        年龄：<input type="text" id="age">
    </div>
    <button id="btn">发送post请求</button>
    <div id="show"></div>
    <script src="../static/jquery-3.4.1.js"></script>
    <script>
        $('#btn').on('click', function () {
            var param = { uname: $('#uname').val(), age: $('#age').val() }
            $.post('/post', param, function (response) {
                $('#show').html(response.msg)
            },'json')
        })
    </script>
</body>

</html>