<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jquery_ajax_get</title>
</head>

<body>
    <button id="btn">jQuery Ajax Get</button>
    <div id="show"></div>
    <script src="../static/jquery-3.4.1.js"></script>
    <script>
        $('#btn').on('click', function () {
            var param = { uname: 'laowang', age: 18 }
            $.get('/get_server', param, function (response) {
                if (response.msg == 'Fail') {
                    $('#show').html('禁止访问').css('color', 'red')
                } else if (response.msg == 'OK') {
                    $('#show').html('欢迎访问，' + response.uname).css('color', 'green')
                }
            }, 'json')
        })
    </script>
</body>

</html>