<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello Tarena!</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/jquery-3.4.1.js"></script>
    <style>
        body {
            background-color: rgb(245, 245, 245) !important;
        }

        .container {
            max-width: 640px !important;
        }

        small {
            font-size: 65%;
        }

        header {
            margin: 50px 0 40px 0;
        }

        header h1 {
            font-size: 60px;
            font-weight: bold;
        }

        .hello-form {
            margin-bottom: 20px;
        }

        a p {
            font-weight: bold;
        }

        a {
            color: black;
        }

        a:hover {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1 class="text-center">
                <span class="text-success">HELLO</span>
                <small>tarena</small>
            </h1>
        </header>
        <div class="hello-form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="content">Message</label>
                <textarea name="content" id="content" class="form-control"></textarea>
            </div>
            <button id="btn" class="btn btn-success">Submit</button>
        </div>
        <div class="list-group"></div>
        <footer class="text-center">
            &copy;2020 <a href="#">Franckisses</a> / <a href="#">Hello Tarena</a>
            <p>&uarr;</p>
        </footer>
    </div>
    <script>
        function addData(res) {
            var html = ''
            if (res) {
                $.each(res.data, function (index, element) {
                    html += '<a href="#" class="list-group-item"><div><h5 class="float-left text-success">'
                    html += element.username + ' '
                    html += '<small class="text-muted">第' + element.num + '条评论' + '</small></h5>'
                    html += '<h5 class="float-right"><small>'
                    html += element.time + '</small></h5>'
                    html += '<div class="clearfix"></div></div>'
                    html += '<p>' + element.content + '</p></a>'
                })
            } else {
                html = '<div class="list-group-item text-center">已经没有内容了</div>'
            }
            $('.list-group').append(html)
        }
        $(function () {
            $.ajax({
                url: 'http://127.0.0.1:5000/data',
                type: 'GET',
                dataType: 'json',
                success: addData,
                error: function () {
                    alert('服务器错误')
                }
            })
            var canLoad = true
            $(document).on('scroll', function () {
                var scrollT = $(document).scrollTop()
                var windowH = $(window).height()
                var documentH = $(document).height()
                if (Math.round(scrollT) + windowH == documentH) {
                    var size = $('.list-group-item').length
                    if (canLoad) {
                        $.ajax({
                            url: 'http://127.0.0.1:5000/data?size=' + size,
                            type: 'GET',
                            dataType: 'json',
                            success: function (res) {
                                if (res.code == 200) {
                                    addData(res)
                                } else if (res.code == 201) {
                                    canLoad = false
                                    addData("")
                                }
                            },
                            error: function () {
                                alert('服务器错误')
                            }
                        })
                    }
                }
            })
            $('#btn').on('click', function () {
                var name = $('#name').val()
                var content = $('#content').val()
                if (name && content) {
                    $.ajax({
                        url: 'http://127.0.0.1:5000/add',
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            name: name,
                            content: content
                        }),
                        success: function (res) {
                            alert(res.msg)
                            $('#name').val('')
                            $('#content').val('')
                        },
                        error: function () {
                            alert('服务器错误')
                        }
                    })
                } else{
                    alert('请输入完整内容')
                }

            })
        })
    </script>
</body>

</html>