AccessControl==4.2
Acquisition==4.6
amqp==2.5.2
asn1crypto==1.3.0
astroid==2.4.0
atomicwrites==1.4.0
attrs==19.3.0
AuthEncoding==4.1
Automat==20.2.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.9.0
billiard==3.6.3.0
bleach==3.1.5
BTrees==4.7.2
celery==4.4.2
certifi==2020.4.5.1
cffi==1.14.0
Chameleon==3.7.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
constantly==15.1.0
construct==2.5.3
cryptography==2.9.2
cssselect==1.1.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
Django==1.11.8
django-cors-headers==3.2.1
django-redis==4.11.0
DocumentTemplate==3.2.2
elasticsearch==7.6.0
entrypoints==0.3
ExtensionClass==4.4
fake-useragent==0.1.11
Flask==1.1.2
future==0.18.2
gevent==20.5.0
greenlet==0.4.15
haystack==0.42
hyperlink==19.0.0
idna==2.9
importlib-metadata==1.6.0
incremental==17.5.0
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kombu==4.6.8
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
MultiMapping==4.1
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy==1.18.4
packaging==20.3
pandocfilters==1.4.2
parsel==1.5.2
parso==0.7.0
PasteDeploy==2.1.0
pefile==2019.4.18
Persistence==3.0
persistent==4.6.4
pickleshare==0.7.5
Pillow==7.1.2
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
Protego==0.1.16
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
pycryptodomex==3.9.4
PyDispatcher==2.0.5
PyExecJS==1.5.1
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint==2.5.0
pymongo==3.10.1
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytesseract==0.3.4
pytest==5.4.1
pytest-base-url==1.4.1
pytest-html==2.1.1
pytest-metadata==1.8.0
pytest-runner==5.2
pytest-selenium==1.17.0
pytest-variables==1.9.0
python-alipay-sdk==2.0.1
python-dateutil==2.8.1
python-gettext==4.0
python-ptrace==0.9.5
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
queuelib==1.5.0
redis==3.5.0
requests==2.23.0
RestrictedPython==5.0
roman==3.2
Scrapy==2.1.0
scrapy-redis==0.6.8
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.14.0
soupsieve==2.0
SQLAlchemy==1.3.16
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
transaction==3.0.0
Twisted==20.3.0
typed-ast==1.4.1
urllib3==1.25.9
vine==1.3.0
w3lib==1.21.0
waitress==1.4.3
wcwidth==0.1.9
webencodings==0.5.1
WebOb==1.8.6
WebTest==2.0.35
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
WSGIProxy2==0.4.6
z3c.pt==3.3.0
zc.lockfile==2.0
ZConfig==3.5.0
zExceptions==4.1
zipp==3.1.0
ZODB==5.5.1
zodbpickle==2.0.0
Zope==4.4.2
zope.annotation==4.7.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.6.1
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.4
zope.exceptions==4.3
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==5.1.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.5.0
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==5.2.0
zope.schema==6.0.0
zope.security==5.1.1
zope.sequencesort==4.1.2
zope.site==4.3.0
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.0.2
zope.testbrowser==5.5.1
zope.testing==4.7
zope.traversing==4.4.1
zope.viewlet==4.2.1