<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <style>
        /*div{*/
        /*    height: 1000px;*/
        /*    background-color: pink;*/
        /*}*/
        .style div {
            height: 30px;
            background-color: pink;
            border: 1px solid rebeccapurple;
        }
    </style>
</head>

<body>
    <!--栅栏-->
    <div class="container">
        <div class="row style">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">col-lg-6</div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">col-lg-6</div>
        </div>
        <div class="row style">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">col-lg-4</div>
            <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">col-lg-8</div>
        </div>
        <div class="row style">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">col-lg-3</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">col-lg-3</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">col-lg-3</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">col-lg-3</div>
        </div>
    </div>

    <!--排版-->
    <div class="container">
        <h1>
            这是h1标签
            <small>这是h1中的small</small>
        </h1>
        <p class="lead text-center text-capitalize">Lorem ipsum dolor it amet consectetur adipisicing elit. Nobis
            officiis labore totam illum at dolores
            aspernatur, praesentium est mollitia explicabo aliquid tempore dolor molestias rerum fuga voluptatibus culpa
            sequi hic.</p>
        <p class="lead text-right text-lowercase">Deserunt fugit maiores nisi quidem, voluptatum distinctio, libero rem
            molestias quod quae est repellendus
            odit adipisci laudantium aspernatur voluptatem doloribus assumenda! Corrupti ab iure, mollitia maiores
            deserunt quae obcaecati fugit!</p>
        <p class="lead text-justify text-uppercase">Ratione non laboriosam nisi officia nesciunt vero? Ex iusto
            deleniti, beatae facilis vero consequuntur, nobis
            nulla placeat asperiores ipsam quibusdam, dolorem laudantium vitae reiciendis quam suscipit neque minima
            nisi. Amet?</p>
        <h1>
            <mark>被高亮的文本</mark>
        </h1>
        <h1>
            <ins>插入的文本</ins>
        </h1>
        <h1>
            <del>被删除的文本</del>
        </h1>

        <blockquote>
            <p>这句话不是我说的</p>
            <footer>鲁迅</footer>
        </blockquote>

        <blockquote class="blockquote-reverse">
            <p>表情包多的人没对象</p>
            <footer>鲁迅</footer>
        </blockquote>
    </div>

    <!--列表-->
    <div class="container">
        <ul class="list-unstyled list-inline">
            <li>难度</li>
            <li>初级</li>
            <li>中级</li>
            <li>高级</li>
        </ul>
        <dl class="dl-horizontal">
            <dt>标题</dt>
            <dd>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae odio soluta, voluptatibus aliquam
                repudiandae asperiores iure sit aliquid. Quo, a repudiandae praesentium non fuga mollitia odio
                molestiae! Similique, reprehenderit modi.</dd>
            <dt>标题</dt>
            <dd>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae odio soluta, voluptatibus aliquam
                repudiandae asperiores iure sit aliquid. Quo, a repudiandae praesentium non fuga mollitia odio
                molestiae! Similique, reprehenderit modi.</dd>
            <dt>标题</dt>
            <dd>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae odio soluta, voluptatibus aliquam
                repudiandae asperiores iure sit aliquid. Quo, a repudiandae praesentium non fuga mollitia odio
                molestiae! Similique, reprehenderit modi.</dd>
        </dl>
    </div>

    <!-- 代码 -->
    <div class="container">
        <code>&lt;code&gt;</code>
        <kbd>ctrl + C</kbd>
        <samp>程序输出内容</samp>
        <var>y</var>=<var>x</var>+1
    </div>

    <!--表格-->
    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>第一列</th>
                    <th>第二列</th>
                    <th>第三列</th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>1912</td>
                    <td>1912</td>
                    <td>1912</td>
                </tr>
                <tr class="info">
                    <td>1912</td>
                    <td>1912</td>
                    <td>1912</td>
                </tr>
                <tr class="warning">
                    <td>1912</td>
                    <td>1912</td>
                    <td>1912</td>
                </tr>
                <tr class="danger">
                    <td>1912</td>
                    <td>1912</td>
                    <td>1912</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--表单 -->
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">img</div>
            <div class="col-lg-3 col-md-3">
                <form>
                    <div class="form-group focus">
                        <label for="uname">姓名：</label>
                        <input class="form-control" id="uname" name="uname" type="text">
                    </div>
                    <div class="form-group focus">
                        <label for="pwd">密码：</label>
                        <input class="form-control" id="pwd" name="pwd" type="password">
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox">点我记住密码
                        </label>
                    </div>
                    <button class="btn btn-success">点我提交表单</button>
                </form>
            </div>
        </div>
    </div>

    <!-- 按钮 -->
    <div class="container">
        <button class="btn btn-primary">点击</button>
        <button class="btn btn-link">点击</button>
        <button class="btn btn-default">点击</button>
    </div>

    <!-- 图片 -->
    <div class="container">
        <img alt="..." class="img-rounded" src="../static/img/news-img-1.jpg">
        <img alt="..." class="img-circle" src="../static/img/news-img-1.jpg">
        <img alt="..." class="img-thumbnail" src="../static/img/news-img-1.jpg">
    </div>

    <!-- 小图标 -->
    <div class="container">
        <span aria-hidden="true" class="glyphicon glyphicon-cloud"></span>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span aria-hidden="true" class="glyphicon glyphicon-star"></span>
        <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
    </div>

</body>

</html>