<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <style>
        /*div{*/
        /*    height: 1000px;*/
        /*    background-color: pink;*/
        /*}*/
        .row div {
            height: 30px;
            background-color: pink;
            border: 1px solid rebeccapurple;
        }
    </style>
</head>

<body>
    <!--    <h1>测试Bootstrap样式</h1>-->
    <!--    <div class="container-fluid"></div>-->
    <!--栅栏-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">col-lg-6</div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">col-lg-6</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">col-lg-4</div>
            <div class="col-lg-8 col-md-8 hidden-sm hidden-xs">col-lg-8</div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">col-lg-3</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">col-lg-3</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">col-lg-3</div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">col-lg-3</div>
        </div>
    </div>
    <!--排版-->
    <div class="container">
        <h1>
            这是h1标签
            <small>这是h1中的small</small>
        </h1>
    </div>

</body>

</html>