<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>demo01.html</h1>
<script>
    var xhr = new XMLHttpRequest()

    xhr.open('GET', '/server', true)

    xhr.onreadystatechange = function () {
        if (xhr.readyState == 2) {
            console.log('开始发送请求')
        } else if (xhr.readyState == 3) {
            console.log('服务器程序处理完毕，正在下载内容')
        } else if (xhr.readyState == 4) {
            console.log('下载内容完毕')
            if (xhr.status == 200) {
                console.log(xhr.responseText)
            }
        }
    }

    xhr.send(null)
</script>
</body>

</html>